
.container {
	background-color: $primary;
	color: $secondaryColor;
	padding: 12px 16px;
	border-radius: 6px;
}

.header-title {
	display: flex;
	justify-content: center;
	align-items: center;
}

.header-title h1 {
	margin: 0;
	font-weight: 800;
	font-size: 1.25rem;
}

.header-container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 12px;
}

.header-actions {
	display: flex;
	align-items: center;
}

.header-actions .btn {
	padding: 8px 12px;
	font-size: 0.95rem;
}

@media (min-width: $bp-tablet) {
	.header-title h1 {
		font-size: 1.6rem;
	}
}

@media (min-width: $bp-desktop) {
	.header-title h1 {
		font-size: 2rem;
	}
}