body{
  font-family: 'Times New Roman', Times, serif;
  margin:0;
  padding:20px;
  background: color #f5f5f5;
  
}
.form,product-list{
  max-width: 800px;
  margin: auto;
}

.form-row{
  display:flex;
  gap:10px;
  flex-wrap:wrap;
}
.input{
  flex:1;
  padding:8px;
  font-size:16px;
  border:1px solid #ccc;
  border-radius:5px;
}
.btn{
  padding:8px 16px;
  border:none;
  background-color: #007bff;
  color:#fff;
  border-radius:5px;
  cursor: pointer;
}
.btn-danger{
  background-color: #dc3545;
}
.btn-secondary{
  background-color: #6c757d;
}
.item{
  border:1px solid #ccc;
  border-radius:5px;
  padding:10px;
margin:10px 0;
display:flex;
flex-wrap:wrap;
gap:10px;
align-items: center;
  background-color:#fff;
}

@media(max-width:768px){
  .form-row{
    flex-direction:column;
  }
  .btn{
    width:100%;
  }
  .item{
    flex-direction:column;
    align-items:flex-start;
  }
}